@font-face {
    font-family: Agbalumo-Regular;
    src: url("./fonts/Agbalumo/Agbalumo-Regular.ttf");
}

body {
    background-color: #3385ff;
}

h1 {
    font-family: Agbalumo-Regular;
    font-size: 36pt;
    color: #ffffff;
    text-shadow: -2px 4px rgb(255, 120, 50);
    text-align: center;
}

h2,
h3,
h4,
label {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: rgb(71, 71, 71);
}

sub {
    color: rgb(255, 120, 50);
}

table,
td {
    border: 1px solid;
    padding-left: 10px;
    padding-right: 10px;
}

div {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: -5px 5px 2px lightblue;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:link {
    color: rgb(255, 120, 50);
}

/* The preview class is styled */
.preview {
    font-size: 10pt;
    color: rgba(0, 0, 0, 0.75);
}
